@{
    var ControllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower();
    var ActionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToLower();
    <!-- Page name shown in header. Restriction for 2 words -->
    if (ActionName.ToString() == "oneexample")
    {
        ActionName = "One Example";
    }
    else
    {
        ActionName = ActionName[0].ToString().ToUpper() + ActionName.Substring(1, ActionName.Length - 1);
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Turn Me Off</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/content/css")
</head>
<body>
    @if ((ControllerName != "account") || (ControllerName == "account" && ActionName == "Settings")) //put layout on all but Account controller(but Settings action)
    {
        <nav class="navbar navbar-default" role="banner">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Customer">TurnMeOff</a>
                <a class="navbar-brand" style="color: black"><b>@ActionName</b></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <nav class="navbar-collapse navbar-ex1-collapse collapse" role="navigation" style="height: 1px;">

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>@User.Identity.Name</b><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Devices/List">List</a></li>
                            <li><a href="~/Account/Settings">Account Settings</a></li>
                            <li><a href="~/Devices/Settings">Devices Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="~/Account/Login">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- /.navbar-collapse -->
        </nav>
        <!-- end navbar -->
    }
    <div class="container">

        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @RenderSection("scripts", required: false)

    @section scripts {

    }
    <footer>
        <br>
        <br>
        <br>
    </footer>
</body>
</html>
