@model TurnMeOff.Repository.Models.DeviceModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pendingDeviceId = ViewBag.PendingDeviceId;
    var pendingDeviceUserId = ViewBag.PendingDeviceUserId;    
            
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <!-- BODY -->
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">

            <!-- BEGIN LIST-->
            <div class="list-group" style="padding-bottom: 50px">
                <input type="hidden" id="@pendingDeviceId" name="deviceID" value="@pendingDeviceId" />
                <!-- NAME -->
                <div class="list-group-item">
                    <h3>Add device</h3>
                    @{if (pendingDeviceId == null)
                      {
                        <div class="alert alert-danger clearfix">
                            <strong>Holy guacamole!</strong> No pending device! Push a device button and try again.
                            <a href="Add" class="btn btn-xs btn-danger pull-right"><b>Refresh</b></a>
                        </div>
                      }
                    }
                    <br>
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Name" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>

                <!-- DESCRIPTION -->
                <div class="list-group-item">
                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control", @placeholder = "Description" })
                </div>

                <!-- isOn -->
                <div class="list-group-item">
                    <br>
                    <h4 class="list-group-item-heading"><b>Is On</b></h4>
                    <div class="toggle">
                        @Html.CheckBoxFor(model => model.isOn, new { @class = "check" })
                        <b class="b switch"></b>
                        <b class="b track"></b>
                    </div>
                    <br>
                </div>

                <!-- isSENSOR -->
                <div class="list-group-item">
                    <br>
                    <h4 class="list-group-item-heading"><b>Is Sensor</b></h4>
                    <div class="toggle">
                        @Html.CheckBoxFor(model => model.isSensor, new { @class = "check" })
                        <b class="b switch"></b>
                        <b class="b track"></b>
                    </div>
                    <br>
                </div>


                <!-- STATUS -->
                <div class="list-group-item clearfix">
                    <br>
                    <h4 class="list-group-item-heading pull-left"><b>Status</b></h4>
                    @{if (pendingDeviceId == null)
                      {
                        <p class="list-group-item-text pull-right" style="color: #f00"><b>No device yet!</b></p>
                      }
                      else
                      {
                        <p class="list-group-item-text pull-right" style="color: #ff6a00"><b>Device pending!</b></p>  
                      }
                    }
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <!-- BOTTOM NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" style="background-color: transparent">
        <div class="rowCustom">
            <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
                <div class="btn-group btn-group-justified">
                    @if (pendingDeviceId == null)
                    {
                        <a type="button" class="btn btn-success btn-lg btn-block disabledCustom" style="font-size: large" href="#">Save</a>
                    }
                    else
                    {
                        <a type="button" class="btn btn-success btn-lg btn-block" style="font-size: large" href="#" onclick="$(this).closest('form').submit()">Save</a>
                    }
                    <a type="button" class="btn btn-warning btn-lg btn-block" style="font-size: large" href="~/Devices/List">Cancel</a>
                </div>
            </div>
        </div>
    </nav>
}

@section Scripts {
    <script type="text/javascript">
        $(".day").each(function () {
            if ($(this).is(':checked'))
                $(this).parent.removeClass("btn-default").addClass("btn-info");
        });
    </script>
}
